* {
    font-size:15px;
    font-family: "CodeNewRoman Nerd Font Propo";
}
window#waybar{
    all:unset;
}

.modules-left, .modules-center, .modules-right {
    padding:7px;
    margin: 10px 10px 5px 10px;
    border-radius:10px;
    background: @base01;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

tooltip {
    background: @base00;
    color: @base06;
}

#clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color: @base0C;
}

#custom-notification, #clock, #custom-pkg, #bluetooth, #network, #cpu, #memory, #temperature, #pulseaudio, #tray {
	margin: 0px 5px;
    padding: 0px 5px;
    transition: all .3s ease;
    color: @base06;
}

#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all: unset;
    padding: 0px 5px;

    background: @base0C;
	border-radius: 10px;
	color: @base06;

	opacity: 0.5;

	margin: 0px 3px;

	font-weight: bold;

    transition: all .2s ease;
}

#workspaces button:hover, #workspaces button.empty:hover {
    background: @base0C;
	opacity: 1;
}

#workspaces button.active {
    background: @base0C;
	opacity: 1;
}

#workspaces button.empty {
    background: @base00;
	opacity: 0.25;
}

#workspaces button.empty.active {
    background: @base0C;
}

#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease;
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease;
}
